<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 
	namespace:命名空间：一定唯一 ,必须是某个接口的完全限定名
 -->
<mapper namespace="cn.itsource.dao.UserDao">
	
	<select id="queryUserByUid" parameterType="int" resultType="cn.itsource.domain.User">
		select * from usertest where uid = #{uid}
	</select>
	
	<select id="selectCollect" resultType="cn.itsource.domain.Collect">
		select * from collection
	</select>
	
	<select id="selectCookSchedule" resultType="cn.itsource.domain.CookSchedule">
		select * from cook_schedule
	</select>
	
	<delete id="deleteCollect" parameterType="int">
		delete from collection where id = #{id}
	</delete>
	
</mapper>